*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

:root {
  --red: #ae0308;
  --redhover: #a70f01;
  --black: #000000;
  --font: #141415;
}

/*html {
  overflow-x: hidden;
}*/

::-webkit-scrollbar {
  width: 10px;
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #000000;
  border: var(--red) 1px solid;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--red);
}

h2 {
  font-size: 57px;
  color: var(--font);
  text-align: center;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  color: var(--font);
  font-weight: 700;
}

p {
  font-size: 16px;
  color: #525252;
  font-weight: 400;
}

header {
  height: 80px;
  width: 100%;
  background-color: #171717;
  position: fixed;
  top: 0;
  z-index: 50;
}

nav {
  max-width: 1360px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  position: relative;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu ul li a {
  display: block;
  width: 120px;
  margin: 0px 7px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  position: relative;
  padding: 10px;
  color: white;
}

.menu ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  background-color: white;
  height: 0.15em;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

.menu ul li a:hover::after {
  background-color: var(--red);
  width: 100%;
}
.logo {
  color: white;
  font-size: 40px;
  letter-spacing: 3px;
  font-weight: 700;
}
.logo span {
  color: var(--red);
}

.line {
  width: 60px;
  height: 5px;
  background: var(--red);
  margin: 10px;
  border-radius: 25px;
  transition: 0.3s ease-in-out;
}

.burger {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  display: none;
}

@media only screen and (max-width: 1000px) {
  .burger {
    display: block;
    transition: 0.3s ease-in-out;
  }

  .burger.active .line:first-child {
    transform: translateY(13px) rotate(45deg);
  }

  .burger.active .line:nth-child(2) {
    transform: translateY(-300px);
  }

  .burger.active .line:nth-child(3) {
    transform: translateY(-16px) rotate(-43deg);
  }

  .menu ul {
    position: absolute;
    right: 0;
    top: 80px;
    background-color: var(--redhover);
    height: 92vh;
    flex-direction: column;
    text-align: -webkit-center;
    justify-content: space-around;
    width: 40%;
    transform: translate(100%);
    transition: 0.3s ease-in-out;
  }

  .menu ul.active {
    transform: translate(0%);
  }
}

.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

.background {
  max-width: 100%;
  height: 800px;
}

/*.mainimg {
  max-width: 100%;
  border: 20px solid #921d1d;
  border-right: none;
}

#about {
  height: 440px;
  width: 530px;
  border: 20px solid #921d1d;
  border-left: none;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 50px;
  padding-left: 50px;
  text-align: justify;
  align-content: center;
  background-color: white;
}*/

section#about2 {
  padding: 0;
}

.wrapper-about {
  max-width: 850px;
  width: 100%;
  margin: 0 auto;
}

section#about {
  background-color: #171717;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 20px solid #ffffff;
  background-color: white;
}

img .mainimg {
  box-shadow: 0px 0px 20px 0px grey;
}

.owner {
  margin-left: 50px;
}

.owner h2 {
  font-size: 40px;
  text-align: left;
  margin: 5px 0 5px 0;
}

.owner h3 {
  color: var(--red);
  margin-bottom: 5px;
  font-size: 15px;
}

.owner p {
  margin-top: 5px;
}

.product-card {
  padding-top: 100px;
  justify-content: center;
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
}

.product-card {
  justify-content: center;
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  padding-bottom: 100px;
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  margin-left: 100px;
  margin-right: 100px;
}

.card {
  height: 400px;
  margin: 60px;
  box-shadow: 5px 5px 20px #b5adad;
  overflow: hidden;
  position: relative;
}

.card:hover {
  cursor: pointer;
}

.card:hover .product-info {
  height: 165px;
  bottom: 0px;
  background: rgb(255, 255, 255);
}

.card:hover p {
  opacity: 1;
  visibility: visible;
}

.card:hover .product-img {
  transform: scale(1.1);
}

.product-img {
  height: 400px;
  width: 400px;
  transition: 0.3s;
}

.product-info {
  height: 70px;
  width: 400px;
  padding: 6px;
  box-sizing: border-box;
  position: absolute;
  background: #ffffff;
  transition: 0.3s;
}

.product-info h2 {
  margin: 10px;
  font-size: 30px;
  text-align: center;
  color: #000000;
}

#reservesection {
  height: 560px;
  width: 100%;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  padding-left: 600px;
  padding-top: 150px;
  color: white;
}

.reservation {
  font-size: 50px;
  font-weight: bolder;
  letter-spacing: 2px;
  color: #fffbfb;
  text-shadow: 2px 3px 0px #ae0308;
  padding-bottom: 5%;
}

.h2reservation {
  font-size: 20px;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 20px;
}

.reservationbutton a {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  border: 2px solid white;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  background-color: white;
}

.reservationbutton a:hover {
  opacity: 0.5;
}

address {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
  margin-left: 100px;
  margin-right: 100px;
}

#addresselements {
  font-size: 16px;
}
#addresselements a {
  text-decoration: none;
  color: #000000;
}
