*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

:root {
  --red: #ae0308;
  --redhover: #a70f01;
  --black: #000000;
  --font: #141415;
}

/*html {
  overflow-x: hidden;
}*/

::-webkit-scrollbar {
  width: 10px;
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #000000;
  background: var(--red);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--redhover);
}

h2 {
  font-size: 57px;
  color: var(--font);
  text-align: center;
  font-weight: 700;
  cursor: default;
}

h3 {
  font-size: 24px;
  color: var(--font);
  font-weight: 700;
  cursor: default;
}

p {
  font-size: 16px;
  color: #525252;
  font-weight: 400;
  cursor: default;
}

header {
  height: 80px;
  width: 100%;
  background-color: #171717;
  position: fixed;
  top: 0;
  z-index: 50;
}

nav {
  max-width: 1360px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  position: relative;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu ul li a {
  display: block;
  width: 120px;
  margin: 0px 7px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  position: relative;
  padding: 10px;
  color: white;
}

.menu ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  background-color: white;
  height: 0.15em;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

.menu ul li a:hover::after {
  background-color: var(--red);
  width: 100%;
}
.logo {
  color: white;
  font-size: 40px;
  letter-spacing: 3px;
  font-weight: 700;
}
.logo span {
  color: var(--red);
}

.line {
  width: 60px;
  height: 5px;
  background: var(--red);
  margin: 10px;
  border-radius: 25px;
  transition: 0.3s ease-in-out;
}

.burger {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  display: none;
}

@media only screen and (max-width: 1800px) {
  .product {
    margin: 0 !important;
    justify-content: space-evenly !important;
  }
}

@media only screen and (max-width: 1500px) {
  .card {
    margin: 0 !important;
    height: 380px !important;
  }

  .product-info {
    width: 380px !important;
  }

  .card:hover .product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .product-img {
    width: 380px !important;
    height: 380px !important;
  }
}

@media only screen and (max-width: 1380px) {
  nav {
    justify-content: space-around;
  }

  .wrapper2 {
    margin: 0 50px 200px 50px !important;
  }

  .product {
    height: 500px !important;
  }

  .product-card {
    padding-top: 40px !important;
  }
}

@media only screen and (max-width: 1160px) {
  .product-img {
    width: 350px !important;
    height: 350px !important;
  }

  .card {
    margin: 0 !important;
    height: 350px !important;
  }

  .product-info {
    width: 350px !important;
  }
}

@media only screen and (max-width: 1100px) {
  .product {
    flex-direction: column;
    gap: 20px;
    height: 1400px !important;
  }

  .card {
    height: 400px !important;
  }

  .product-img {
    height: 400px !important;
    width: 400px !important;
  }
  .product-info {
    width: 400px !important;
  }

  h2 {
    font-size: 50px;
  }
}

@media only screen and (max-width: 1000px) {
  .burger {
    display: block;
    transition: 0.3s ease-in-out;
  }

  .burger.active .line:first-child {
    transform: translateY(13px) rotate(45deg);
  }

  .burger.active .line:nth-child(2) {
    transform: translateY(-300px);
  }

  .burger.active .line:nth-child(3) {
    transform: translateY(-16px) rotate(-43deg);
  }

  .menu ul {
    position: absolute;
    right: 0;
    top: 80px;
    background-color: var(--redhover);
    height: 92vh;
    flex-direction: column;
    text-align: -webkit-center;
    justify-content: space-around;
    width: 40%;
    transform: translate(100%);
    transition: 0.3s ease-in-out;
  }

  .menu ul.active {
    transform: translate(0%);
  }
}

@media only screen and (max-width: 880px) {
  .wrapper2 {
    margin: 0 10px !important;
    padding: 270px 10px 72px 10px !important;
  }
  .container h2 {
    font-size: 70px !important;
  }
  .mainimg {
    width: 350px;
  }
  .menu ul {
    width: 100%;
  }
}

@media only screen and (max-width: 630px) {
  .main {
    flex-direction: column;
    justify-content: center !important;
    border: 40px solid #ffffff !important;
  }
  .owner {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0 !important;
    text-align: center;
  }

  .owner h2 {
    text-align: center !important;
  }

  .container h2 {
    font-size: 50px !important;
  }

  .reservationbutton a {
    padding: 15px 20px !important;
    font-size: 15px !important;
  }
  address {
    height: 50px !important;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    align-items: center !important;
  }
  .reserve {
    align-items: center;
  }

  .reserve p {
    font-size: 14px;
    text-align: center;
    padding-top: 10px;
  }

  .product-img {
    width: 320px !important;
    height: 320px !important;
  }

  .card {
    margin: 0 !important;
    height: 320px !important;
  }

  .product-info {
    width: 320px !important;
  }

  .product {
    height: 1150px !important;
  }

  .background,
  .background-2 {
    height: 600px !important;
  }

  .wrapper2 {
    padding: 200px 10px 72px 10px !important;
  }
}

@media only screen and (max-width: 360px) {
  .logo {
    font-size: 30px;
  }

  .mainimg {
    width: 280px;
  }

  .main {
    border: 20px solid white;
  }

  .owner h2 {
    font-size: 30px !important;
  }

  .owner p {
    font-size: 14px;
  }

  h2 {
    font-size: 40px !important;
  }

  .product-img {
    width: 280px !important;
    height: 280px !important;
  }

  .card {
    margin: 0 !important;
    height: 280px !important;
  }

  .product-info {
    width: 280px !important;
    height: 140px !important;
    padding: 0 !important;
  }

  .product {
    height: 1000px !important;
  }

  .product-info h2 {
    font-size: 30px !important;
  }

  .product-info p {
    font-size: 14px !important;
  }
}

@media only screen and (max-width: 300px) {
  .logo {
    font-size: 25px;
  }

  .mainimg {
    width: 200px !important;
    height: 200px !important;
  }
  .product-img {
    width: 200px !important;
    height: 200px !important;
  }

  .card {
    margin: 0 !important;
    height: 200px !important;
  }

  .product-info {
    width: 200px !important;
    height: 100px !important;
    padding: 0 !important;
  }

  .product-info h2 {
    font-size: 20px !important;
    margin: 5px !important;
  }

  .product-info p {
    font-size: 10px !important;
  }

  h2 {
    font-size: 30px !important;
  }

  .product {
    height: 800px !important;
  }
}

@media only screen and (max-width: 300px) {
  .logo {
    font-size: 22px;
  }

  .line {
    width: 30px;
    height: 3px;
  }

  .reservationbutton a {
    border: 1px solid white !important;
    font-weight: 400 !important;
    padding: 10px 10px !important;
  }

  .wrapper2 {
    margin: 0 !important;
    padding: 200px 0 72px 0 !important;
  }

  address {
    font-size: 12px;
  }
}

@media only screen and (max-width: 200px) {
  .main {
    border: none !important;
  }
  section {
    padding: 20px 0 !important;
  }

  h2 {
    font-size: 20px !important;
  }

  .owner h2 {
    font-size: 20px !important;
  }

  .owner h3 {
    font-size: 15px !important;
  }

  .owner p {
    font-size: 12px !important;
  }

  .product {
    gap: 0;
    height: 700px !important;
  }

  .product-card {
    padding-top: 20px !important ;
  }
}
.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

.background,
.background-2 {
  max-width: 100%;
  height: 800px;
}

section#about2 {
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.container h2 {
  color: white;
  font-weight: 100;
  margin-bottom: 25px;
  font-size: 80px;
  text-transform: uppercase;
}

.container h3 {
  color: white;
  text-transform: uppercase;
  opacity: 0.5;
  font-size: 13px;
}

.wrapper-about {
  max-width: 850px;
  width: 100%;
  margin: 0 auto;
}

section#about {
  background-color: #171717;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 20px solid #ffffff;
  background-color: white;
}

img .mainimg {
  box-shadow: 0px 0px 20px 0px grey;
}

.owner {
  margin-left: 50px;
}

.owner h2 {
  font-size: 40px;
  text-align: left;
  margin: 5px 0 5px 0;
}

.owner h3 {
  color: var(--red);
  margin-bottom: 5px;
  font-size: 15px;
}

.owner p {
  margin-top: 5px;
}

.product-card {
  padding-top: 100px;
  justify-content: center;
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  margin-left: 100px;
  margin-right: 100px;
}

.card {
  height: 400px;
  margin: 60px;
  box-shadow: 5px 5px 20px #b5adad;
  overflow: hidden;
  position: relative;
}

.card:hover {
  cursor: pointer;
}

.card:hover .product-info {
  height: 165px;
  bottom: 0px;
  background: rgb(255, 255, 255);
}

.card:hover p {
  opacity: 1;
  visibility: visible;
}

.card:hover .product-img {
  transform: scale(1.1);
}

.product-img {
  height: 400px;
  width: 400px;
  transition: 0.3s;
}

.product-info {
  height: 70px;
  width: 400px;
  padding: 6px;
  box-sizing: border-box;
  position: absolute;
  background: #ffffff;
  transition: 0.3s;
}

.product-info h2 {
  margin: 10px;
  font-size: 30px;
  text-align: center;
  color: #000000;
}

section#local {
  padding: 0;
}

.wrapper2 {
  margin: 0 300px 200px 300px;
  height: 600px;
  padding: 270px 50px 72px 50px;
}
.reserve {
  font-size: 50px;
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.reserve h2 {
  color: white;
  text-shadow: 2px 3px 0px #ae0308;
  text-align: left;
  cursor: default;
}

.reserve p {
  color: white;
  letter-spacing: normal;
}

.reservationbutton a {
  padding: 15px 30px;
  border: 2px solid white;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  transition: 0.5s ease-in-out;
}

.reservationbutton a:hover {
  border: 2px solid var(--black);
  color: var(--black);
  background-color: white;
}

address {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

address a {
  color: #000000;
}
